h1{
    color: blueviolet;
    text-align: center;
    padding-left: 20px;
    text-decoration: underline;
}
h2{
    color: red;
    background-color: yellow;
}
p{
    color: brown;
    font-style: italic;
}
.details{
    background-color: rgb(214, 234, 252);
    height: 100vh;
    padding-top: 2px;
}